.o_mail_preview {
	.o_preview_info,
	.o_last_message_date {
		white-space: nowrap;
	}
}
.o_DiscussSidebarMailbox_counter {
    padding-top: 4px;
}

@media (max-width: 767.98px){
	.o_preview_name {
		font-size: 1.1em;
	}
	.o_main_navbar {
		.o_mail_systray_dropdown{
			&.show{
				font-size: 1.1em;
			}
		}	
	}
}
