@font-face {
    font-family: Roboto;
    src: url(/to_backend_theme/static/src/font/Roboto-Regular.ttf)
}

body {
	font-family: "Roboto";
}

// App Dashboard

.o_menu_apps {	
	.dropdown-menu {
		background: url("/web_responsive/static/src/img/home-menu-bg-overlay.svg"),
            linear-gradient(
                to bottom,
                $brand-primary-dark,
                desaturate(lighten($brand-primary-dark, 20%), 15)
            );
	}
}

.o_mail_user_status {
	&.o_user_online {
		color: $brand-primary;
	}
}

.o_thread_window {

	font-size: 1.1em;

	.o_thread_composer {
		.o_composer {
			.o_composer_input {
				> textarea {
					font-size: 1.1em;
				}
			}
		}
	}
	.o_mail_thread {
		.o_thread_message {
			.o_thread_message_sidebar {
				font-size: 12px;
			}
		}
	}
	.o_thread_window_header {
		background-color: $brand-primary-dark;
	}
}

// Form view
.o_chatter_header_container {
	.o_thread_composer {
		.o_composer_mention_dropdown {
			position: absolute;
			top: 100%;
			// force mention drop to show below composer
			> .dropdown-menu {
				top: 100%;
				bottom: auto;
				}
		}
	}
}


// Filter search label

.o_searchview {
	.o_searchview_facet {
		.o_searchview_facet_label {
			background-color: $brand-primary-dark;
		}
	}
}

.o_chatter_position_sided {
	.o_content {
		.o_form_view {
			&:not(.o_form_nosheet) {
				.o_chatter {
					.o_chatter_header_container {
						padding-top: 0;
					}
				}
			}
		}
	}
}

.o_chatter {
	.o_chatter_topbar {
		.btn {
			border-radius: 0 0 0 0;
		}
	}
}

.o_control_panel {
	.o_cp_right {
		.btn-secondary {
			border-color: $white;
		}
	}
}

// FIX web_responsive

.custom-checkbox {
	.custom-control-input{
		&:disabled:checked ~ .custom-control-label::before{
			border: inherit;
		}
	}
}

@media (min-width: 768px) {
	// Normal checkboxes
	.o_list_view {
		.custom-checkbox:not(.o_boolean_toggle) {
			margin-right: auto;
			
			.custom-control-label {
				top: auto;

				&::after {
					width: 1rem;
					height: 1rem;
					cursor: pointer;
				}
				&::before {
					width: 1rem;
					height: 1rem;
					cursor: pointer;
				}
			}
		}
	}
}

