@font-face {
    font-family: Roboto;
    src: url(/web/static/fonts/google/Roboto/Roboto-Regular.ttf)
}

body {
	font-family: "Roboto";
}


.o_mail_user_status {
	&.o_user_online {
		color: $brand-primary;
	}
}

.o_thread_window {

	font-size: 1.1em;

	.o_thread_composer {
		.o_composer {
			.o_composer_input {
				> textarea {
					font-size: 1.1em;
				}
			}
		}
	}
	.o_mail_thread {
		.o_thread_message {
			.o_thread_message_sidebar {
				font-size: 12px;
			}
		}
	}
	.o_thread_window_header {
		background-color: $brand-primary-dark;
	}
}

.o_web_client {
    .o_Composer {
        textarea {
            border-bottom: initial;
        }
    }
    
}

.o_ComposerSuggestion_part1 {
    font-weight: 500;
}

// Filter search label

.o_searchview {
	.o_searchview_facet {
		.o_searchview_facet_label {
			background-color: $brand-primary-dark;
		}
	}
}

.o_chatter {
	.o_chatter_topbar {
		.btn {
			border-radius: 0 0 0 0;
		}
	}
}

.o_Follower{
    a{
        .o_Follower_avatar{
            object-fit: cover;
        }
    }
}

.o_control_panel {
	.o_cp_right {
		.btn-secondary {
			border-color: $white;
		}
	}
}

// FIX web_responsive

.custom-checkbox {
	.custom-control-input{
		&:disabled:checked ~ .custom-control-label::before{
			border: inherit;
		}
	}
}

@media (min-width: 768px) {
	// Normal checkboxes
	.o_list_view,
	.o_settings_container .o_setting_box {
		.custom-checkbox:not(.o_boolean_toggle) {
			top: auto;
			.custom-control-label {
				top: auto;

				&::after {
					width: 1rem;
					height: 1rem;
					cursor: pointer;
				}
				&::before {
					width: 1rem;
					height: 1rem;
					cursor: pointer;
				}
			}
		}
	}
	
}
@media (max-width: 767.98px) {
    .o_base_settings {
        .o_setting_container {
            .settings_tab {
                .selected {
                    box-shadow: inset 0 -5px $brand-primary;
                }
            }
        }
    }
    // make optional dropdown toggle larger on mobile devices
    .o_list_view {
        .o_optional_columns_dropdown_toggle {
            padding: 0 15px;
        }
        
    }
}
